<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "//UNKNOWN/" "applicationContext.dtd">
<beans>
    <bean class="beans.User" id="user1">
        <property name="name" value="zhangsan"/>
        <property name="age" value="20"/>
    </bean>
    <bean class="beans.Cat" id="cat1">
        <property name="color" value="white"/>
        <property name="brand" value="bosi"/>
    </bean>
    <bean class="beans.User" id="user2">
        <property name="name" value="lisi"/>
        <property name="age" value="30"/>
    </bean>
</beans>